html, body {
	width: 100%;
	height: 100%;
}

.clear {
	clear: both;
}

#starfield {
	width: 100%;
	background: 100%;
	position: fixed;
	display: block;
}

body {
	text-align: center;
	font-size: 16px;
	background: #000;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding-top: 2em;
	text-align: left;
	position: relative;
}

#screen {
	border: 3px solid #FAEA40;
	border-radius: 1.0em;
	background: rgba(32, 24, 8, 0.95);
	padding-bottom: 32px;
	position: relative;
}

h1 {
	color: #FAEA40;
	font-size: 3.0em;
	margin: 32px 0 16px 0;
	text-align: center;
}

h3 {
	font-size: 2.0em;
}

p {
	font-size: 1.0em;
	line-height: 1.4;
}

.character {
	float: left;
	margin: 32px 0 0 32px;
	padding: 8px;
	width: 402px;
	height: 100px;
	border-radius: 16px;
}

.character:hover {
	background: rgba(255, 255, 255, 0.1);
}

.charAvatar {
	float: left;
	margin-right: 1.0em;
}

.avatarCircle {
	width: 92px;
	height: 92px;
	border: 4px solid #F00;
	border-radius: 50px;
}

.charDescription {
	float: left;
	max-width: 100%;
	width: auto;
	margin-top: 12px;
}

.luke * { color: #68C1E5; }
.luke * .avatarCircle { border-color: #68C1E5; }
.luke:hover { background: rgba(104, 193, 229, 0.15); }

.leia * { color: #32C560; }
.leia * .avatarCircle { border-color: #32C560; }
.leia:hover { background: rgba(50, 197, 96, 0.15); }

.trooper * { color: #EEE; }
.trooper * .avatarCircle { border-color: #EEE; }
.trooper:hover { background: rgba(224, 224, 224, 0.15); }

.vader * { color: #E96B5F; }
.vader * .avatarCircle { border-color: #E96B5F; }
.vader:hover { background: rgba(233, 107, 95, 0.15); }

@media screen and (max-width: 980px) {
	/* MEDIUM */
	#wrapper {
		width: 720px;
		/*background: rgba(255, 0, 0, 0.2);*/
	}

	.character {
		width: 316px;
		height: 80px;
		margin-left: 16px;
	}
	.avatarCircle { width: 72px; height: 72px; }
	.charDescription { margin-top: 6px; }
	.charName { font-size: 1.5em; }
}

@media screen and (max-width: 768px) {
	/* TABLET */
	#wrapper {
		width: 640px;
		/*background: rgba(0, 255, 0, 0.2);*/
	}

	.character {
		width: 554px;
		height: 100px;
		margin-left: 32px;
	}
	.avatarCircle { width: 92px; height: 92px; }
	.charDescription { margin-top: 12px; }
	.charName { font-size: 2.0em; }
}

@media screen and (max-width: 660px) {
	/* PHONE LANDSCAPE */
	#wrapper {
		width: 400px;
		/*background: rgba(0, 0, 255, 0.2);*/
	}

	.character {
		width: 346px;
		height: 80px;
		margin-left: 16px;
	}
	.avatarCircle { width: 72px; height: 72px; }
	.charDescription { margin-top: 6px; }
	.charName { font-size: 1.5em; }
}

@media screen and (max-width: 420px) {
	/* PHONE */
	#wrapper {
		width: 95%;
		/*background: rgba(255, 255, 255, 0.2);*/
	}

	.character {
		width: 100%;
		height: 64px;
		margin: 0;
		padding: 16px 0;
		border-radius: 0;
	}
	.avatarCircle {
		width: 56px;
		height: 56px;
		margin-left: 32px;
	}
	.charDescription { margin-top: 4px; }
	.charName { font-size: 1.2em; }
	p { font-size: 0.8em; }
}
